.customButton {
  background-color: rgb(59 130 246);
  color: rgb(255 255 255);
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
}

.customButton:hover {
  background-color: rgb(29 78 216);
}